<div class="newsletter-wrapper" id="newsletter-wrapper">
	<h2 class="subtitle">Subscribe to our newsletter</h2>
	<form v-on:submit.prevent="onSubmit">
		<div class="field has-addons">
			<div class="control">
				<input
					type="email"
					name="email"
					class="input"
					placeholder="Your e-mail address..."
					v-model="email"
				/>
			</div>
			<div class="control">
				<button class="button is-success">Submit</button>
			</div>
=		</div>
	</form>
</div>

<script>
	var newsletter = new Vue({
		el: "#newsletter-wrapper",
		data() {
			return {
				email: "",
				showSuccess: false,
			};
		},
		methods: {
			onSubmit () {
				console.log("onSubmit")
			}
		}
	});
</script>
